body{
    background-color: #EEEFF1;;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
}
.wrapper {
    margin-left: 400px;
}

.navigation{
    margin-bottom: 150px;
    margin-top: 80px;
}
.navigation>li {
    display: inline-block;
    margin-right: 42px;

}

.navigationli:last-child{
    margin-right: 0;
}
.homepageNavButton{
    color: #34547A;
}

.conteiner{
    max-width: 540px;
    box-sizing: border-box;
}
.conteiner>h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 60px;
}
.conteiner>p{
    color: #727272;
    margin-bottom: 65px;
}
.buttonWriteMe{
    background-color: #34547A;
    color: white;
    padding: 23px 69px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
}
.secWhite{
    background-color: white;
    margin-top: 161px;
    padding: 112px 0 100px;
}
.wrapperMidle{
    text-align: center;
    margin: 0 auto;
}
.wrapperMidle>p{
    margin: 50px 0 0 0;
}
.secBlue{
    background-color: #34547A;
    

position: absolute;
width: 1920px;
height: 100px;
left: 0px;
background: #34547A;
margin: 0 auto;    
padding: 100px 0;

}
.wrapperMidle>img{
    width: 121px;
    height: 50px;
    margin: 0 22.5px;
}
.secGrey{
    padding: 100px 0;
}

iframe{
    margin: 57px 0 100px 400px;
}
footer{
    background-color: #34547A;
    color: white;
    padding: 50px 0;
}
footer>p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}
